<div class="container text-center">
    <button (click)="DonwloadFile()" class="btn btn-primary mb-5 shadow border">Download PDF Resume</button>

    <div class="pb-2">
        <accordion [isAnimated]="true" class="shadow">
            <accordion-group [(isOpen)]="isWorkExperienceOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Work Experience</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isWorkExperienceOpen" style="color: white;">></div>
                        <div *ngIf="isWorkExperienceOpen" style="color: white;">v</div>
                    </div>
                </button>

                <div style="text-align: left;">
                    <h2 class="mb-0">Software Engineer</h2>
                    <h3 class="text-primary">SRM Intergration(M) Sdn Bhd</h3>
                    <ul>
                        <li>Sept 2022 - Present</li>
                        <li>Design, develop, debug, and test machine control software for high-speed machines.</li>
                        <li>Provide application integration testing and documentation.</li>
                        <li>Provide assistance and software support to customers, as well as evaluate and find solutions for customers' modification requests.</li>
                        <li>Work closely with the specialist team to evaluate the interface between hardware and software, as well as the operational and performance requirements of the overall system.</li>
                        <li>Analyze and implement customer requirements and resolve software issues, ensuring feasibility of design within the timeline and cost budget.</li>
                        <li>Responsible for software development process definition and continuous improvements.</li>
                    </ul>
                </div>
    
                <div style="text-align: left;">
                    <h2 class="mb-0">Intership Trainee</h2>
                    <h3 class="text-primary">Robert Bosch Power Tools Sdn Bhd</h3>
                    <ul>
                        <li>Jan 2021 - Aug 2021</li>
                        <li>Maintained Bosch production line KPI Power BI Dashboard for the Penang Plant.</li>
                        <li>Developed Bosch production value stream KPI Dashboard for the Penang Plant using Microsoft Power BI.</li>
                        <li>Attended daily morning meetings as IT Support for the KPI Power BI Dashboard.</li>
                        <li>Conducted the Bosch Emerging (BE) BPS survey with Bosch Power Tools Plants across the world (Malaysia, China, Brazil, Russia, India) to understand the current thinking of the BE BPS Team on the implementation of BPS Principles in working activities.</li>
                        <li>Attended the BE BPS Team workshop as IT Support.</li>
                        <li>Attended BE BPS monthly meetings (International Exposure).</li>
                    </ul>
                </div>
    
            </accordion-group>
    
            <accordion-group [(isOpen)]="isEducationOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Education</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isEducationOpen" style="color: white;">></div>
                        <div *ngIf="isEducationOpen" style="color: white;">v</div>
                    </div>
                </button>
                <div style="text-align: left;">
                    <h2 class="mb-0">Bachelor of Information Technology(Hons)</h2>
                    <h3 class="text-primary">Universiti Teknologi PETRONAS(UTP)</h3>
                    <ul>
                        <li>May 2019 - Aug 2022</li>
                        <li>Major In Software Quality & Design</li>
                        <li>Minor In Financial Management</li>
                        <li>CGPA    : 3.61</li>
                        <li>GPA     : 3.84</li>
                    </ul>
                </div>

                <div style="text-align: left;">
                    <h2 class="mb-0">Foundation of Engineering in Petroleum Engineering</h2>
                    <h3 class="text-primary">Universiti Teknologi PETRONAS(UTP)</h3>
                    <ul>
                        <li>March 2016 - March 2017</li>
                        <li>CGPA    : 3.12</li>
                        <li>GPA     : 3.33</li>
                    </ul>
                </div>

                <div style="text-align: left;">
                    <h2 class="mb-0">Sijil Pelajaran Malaysia (SPM)</h2>
                    <h3 class="text-primary">MARA Junior Science College Balik Pulau</h3>
                    <ul>
                        <li>2011 - 2015</li>
                        <li>Result    : 9 As</li>
                    </ul>
                </div>

                <div style="text-align: left;">
                    <h2 class="mb-0">Penilaian Menengah Rendah (PMR)</h2>
                    <h3 class="text-primary">MARA Junior Science College Balik Pulau</h3>
                    <ul>
                        <li>2011 - 2015</li>
                        <li>Result    : 7 As</li>
                    </ul>
                </div>
            </accordion-group>
    
            <accordion-group [(isOpen)]="isCertificationOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Certification</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isCertificationOpen" style="color: white;">></div>
                        <div *ngIf="isCertificationOpen" style="color: white;">v</div>
                    </div>
                </button>

                <div style="text-align: left;">
                    <h2 class="mb-0">Certified Kubernetes Administrator</h2>
                    <h3 class="text-primary">Cloud Native Computing Foundation</h3>
                    <ul>
                        <li>Date of completion      : January 20, 2025</li>
                        <li>Certificate ID Number   : LF-dhvopg4o9z</li>
                        <li>Score                   : 88 %</li>
                        <li>
                            Credly Verification: 
                            <a href="https://www.credly.com/badges/b11363e0-f316-4135-a6fb-1c13ec984be1" target="_blank" style="color: blue; text-decoration: underline;">
                                click here
                            </a>
                        </li>
                        <li>
                            For digital copy: 
                            <a href="https://drive.google.com/file/d/1_T21b8XXUs0RG9jMheFJeSvZ1Ccupgcn/view?usp=sharing" target="_blank" style="color: blue; text-decoration: underline;">
                                click here
                            </a>
                        </li>
                    </ul>
                </div>

                <div style="text-align: left;">
                    <h2 class="mb-0">Certified DevOps Foundation</h2>
                    <h3 class="text-primary">Convergence Certification & Skill Development (CCSD) Council</h3>
                    <ul>
                        <li>Issued on               : December 09, 2024</li>
                        <li>Certificate ID Number   : 019cc50</li>
                        <li>Score                   : 78 %</li>
                        <li>
                            For digital copy: 
                            <a href="https://drive.google.com/file/d/12AePzq4Z9eM3y7T-tf7D5PusQg5EJXNo/view?usp=sharing" target="_blank" style="color: blue; text-decoration: underline;">
                                click here
                            </a>
                        </li>
                    </ul>
                </div>

                <div style="text-align: left;">
                    <h2 class="mb-0">Peneraju Teknologi Certified DevOps Professional</h2>
                    <h3 class="text-primary">GKK Consultants / Yayasan Peneraju</h3>
                    <ul>
                        <li>Date of completion      : January 19, 2025</li>
                        <li>
                            For digital copy: 
                            <a href="https://drive.google.com/file/d/1umiCjCLhyjpjOYhcGxvqnX0C47AHx5bU/view?usp=sharing" target="_blank" style="color: blue; text-decoration: underline;">
                                click here
                            </a>
                        </li>
                    </ul>
                </div>

                <div style="text-align: left;">
                    <h2 class="mb-0">Graduate Technologist</h2>
                    <h3 class="text-primary">Malaysia Board of Technologist(MBOT)</h3>
                    <ul>
                        <li>Issued on               : May 30, 2023</li>
                        <li>Certificate ID Number   : GT23050191</li>
                        <li>
                            For digital copy: 
                            <a href="https://drive.google.com/file/d/1_bO4u6lKlvqB2gb_IRm2CE1HJbQ1Qrzo/view?usp=sharing" target="_blank" style="color: blue; text-decoration: underline;">
                                click here
                            </a>
                        </li>
                    </ul>
                </div>

            </accordion-group>
    
            <accordion-group [(isOpen)]="isSkillOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Workshop Attended</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isSkillOpen" style="color: white;">></div>
                        <div *ngIf="isSkillOpen" style="color: white;">v</div>
                    </div>
                </button>

                <div style="text-align: left;">
                    <h2 class="mb-0">Advanced Object-Oriented Programming with Visual C++</h2>
                    <h3 class="text-primary">Newrise Learning</h3>
                    <ul>
                        <li>Date  : 17-20 & 23 December 2024</li>
                        <li>
                            For digital copy: 
                            <a href="https://drive.google.com/file/d/1eWSmyUmaGDQYl7wjjXzAltMZgrFgBi74/view?usp=sharing" target="_blank" style="color: blue; text-decoration: underline;">
                                click here
                            </a>
                        </li>
                    </ul>
                </div>

                <div style="text-align: left;">
                    <h2 class="mb-0">Root Cause Analysis Workshop</h2>
                    <h3 class="text-primary">Newrise Learning</h3>
                    <ul>
                        <li>Date  : 23 & 24 April 2025</li>
                        <li>
                            For digital copy: 
                            <a href="https://drive.google.com/file/d/1Eq_y7dpd9B0WMgq6HHLu0F2LTjQVtd5E/view?usp=sharing" target="_blank" style="color: blue; text-decoration: underline;">
                                click here
                            </a>
                        </li>
                    </ul>
                </div>

            </accordion-group>       
         </accordion>
    </div>

</div>