<div class="container">
    <div class="row">
        <!-- Abour me -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img 
                src="../../assets/profile_picture.png" 
                alt="profile picture" 
                width="256" 
                height="256" 
                class="rounded-circle">    
                <p>I hold a degree in Information Technology, with a major in Software Quality and Design from Universiti Teknologi PETRONAS(UTP). In my present role, I am engaged in C# and C++ programming, focusing on human machine interface development and control systems for high speed IC Testing Machine in semiconductor sector. I am deeply enthusiastic about programming, which is a driving force behind my work. Apart from that, I do programming as hobby.</p>            
            </div>
        </div>
        
        <!-- Feature Project -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
                <h4>{{featuredProject.name}}</h4>
            </div>
    </div>
</div>